.SMAKONECUP2022{
    color: black;
    -webkit-text-fill-color: rgb(30 58 138); /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 0.8px;
    -webkit-text-stroke-color: rgb(250 204 21);;
}